@charset "utf-8";
/* CSS Document */
/* ***********  通用栏目页样式 on  ********** */
.lm_contain{background:#fff;padding:20px;}

/* 栏目搜索 */
.lmsearch{ height: 42px; border: 1px solid #ccc; border-radius: 5px; position: relative; padding: 0 120px 0 150px;margin-bottom: 20px;background: #fff;}
.lmsearch input{background: none; border: 0 none; vertical-align: middle; width: 100%;}
.lmsearch li{font-size: 0; line-height: 0;}
.lmsearch .ss1{ height: 30px; border-left: 1px solid #ccc; padding: 0 12px; margin: 6px 0;}
.lmsearch .ss1 input{ height: 30px; line-height: 30px; font-size: 14px;}
.lmsearch .ss2{ right: 0; top: 0; width: 120px; border-radius: 0 5px 5px 0; background: #275293 url("../images/lmsearico.png") 24px center no-repeat; height: 42px; position: absolute;}
.lmsearch .ss2 input{ float: left; height: 42px; cursor: pointer; text-indent: 58px; font-weight: bold; color: #fff; font-size: 18px; text-align: left;}
.lmsearch .ss3{ position: absolute; left: 5px; top: 0; width: 140px;color: #275293; font-weight: bold; font-size: 18px; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 42px; line-height: 42px;}
@media (max-width: 991px) {
    .lmsearch{margin-bottom: 10px;}
}
@media (max-width: 767px) {
    .lmsearch .ss3{display: none;}
    .lmsearch {padding-left: 0;}
    .lmsearch .ss1{border: 0 none;}
}

/**栏目左侧***/
.leftnr{width:260px;background:#f8f8f8;}
.lmtitle{height:auto;padding:15px;overflow:hidden;background:#275293 url("../images/lm_topbg.png") 8px 5px no-repeat;}
.lmtitle h1{font-size:22px; font-weight: bold; text-align: center; line-height: 30px; color:#fff;}
.menunr ul li a{ line-height:24px; padding: 15px 0; border-bottom: 1px solid #eeeeee; display:block; font-size: 18px; padding-left: 30px;}
.menunr ul li a:hover{color: #275293;}
.menunr ul li.active a,.menunr ul li a.active{color: #275293; border-left:2px solid #275293; background: #eee;}
/**窄屏***/
.btn-group{ width:100%; position:relative; min-height:40px;}
.btn{width:100%; padding:8px 12px; font-size:18px; text-align:left; border-radius: 0;}
.btn-danger{ color: #fff; background:#275293; border:none; padding-left:10px;}
.btn-group.open .dropdown-toggle{ background: #275293; }
.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus {color: #fff; background:#275293;  border-color:#275293;}
.btn .caret{ float:right; margin-top:8px;}
.btn-danger:hover,.btn-danger:focus, .btn-danger.focus{color: #fff; border-color: #275293; background-color: #275293;}
.btn-group .caret{ float:right; margin-top:12px;}
.dropdown-menu{ width:100%; padding:0; border-radius:0; box-shadow:none; border:none; top:40px;}
.dropdown-menu > li > a { padding: 10px 20px; font-size: 16px;}
.dropdown-menu a{ background:#f7f7f7; border-top:1px solid #fff;}
.dropdown-menu a:hover{background: #fff; color: #275293;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{ background-color: #5c84c1; color: #fff;}
/**栏目右侧***/
.rightnr{width:870px;position:relative;min-height:500px;float: right;}
.rightnr .guidang{position:absolute;right:-32px;top:-29px;}
.dqlanmu{position:relative;clear:both;background:url("../images/telbg.gif") 0 bottom repeat-x;margin-bottom:10px; height: 44px;font-size: 22px;font-weight: bold;color:#275293; line-height:36px;padding-left:10px;}
.dqlanmu i{font-style:normal;}
.listnews{ font-size:16px; line-height:2; min-height:488px; height:auto; border-top: 0 none;}
.listnews ul{clear:both;}
.listnews table,.listnews img{max-width:100% !important;}
.listnews td{line-height:26px;}
.listnews li{background: url(../images/icon.png) 2px center no-repeat; padding-left:15px; font-size:16px; line-height:36px; overflow:hidden; color: #999;}
.listnews li a{max-width:720px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.listnews li .date{white-space: nowrap; font-family: Arial, Helvetica, sans-serif;}
.listnews ul.doc_list{padding-bottom:5px;}
.listnews li.columnName{height: 40px;line-height: 40px;padding:0 10px; background: #f8f8f8; margin: 5px 0; position: relative;}
.listnews li.columnName a.more{ font-size:12px; color:#888; float: none; margin: 0; max-width: none; position: absolute; right: 10px; top: 0;}
.listnews li.columnName a.more:hover{ color:#c00;}
.listnews li.columnName a.title{font-weight:bold;display:block;margin-right: 60px; float: none; max-width: none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.listnews ul.doc_list li,.listnews ul.download-list li{overflow:hidden;}
.listnews ul.doc_list li img{vertical-align:middle;}
.listnews li.lm_line{ margin: 10px 0 0; border-top: 1px #eaeaea dashed; height: 10px; overflow: hidden; background: none;}
.listnews li.lm_line.add{ display:none;}

.ptlmcontant{padding-bottom:15px;}
.ld_con ul li a{ max-width: 1000px;}
@media (min-width: 992px) and (max-width: 1199px){
.rightnr{width:672px;}
.listnews li a{max-width:530px;}
.ld_con ul li a{ max-width: 800px;}
}
@media (max-width: 991px) {
.lm_contain{padding: 15px;}
.rightnr{width: auto; float: none; height: auto !important; padding: 10px 0 0; min-height:200px;}
.listnews{min-height:200px;}
.listnews ul.doc_list li a,.listnews ul.download-list li a{ display: block; margin-right: 90px; width: auto;float: none;}
.listnews ul.doc_list li img{ display: none;}
.listnews li.lm_line{margin: 6px 0 0; height: 6px;}
ul.download-list li .date{ position: absolute; right: 0; top: 0;}
ul.download-list li{ position: relative;}
.dqlanmu{height: auto; line-height: 30px; padding-bottom: 8px;font-size: 18px;}
.ptlmcontant{padding-bottom:0;}
.ld_con ul li a{ max-width: none; float:none; display: block; margin-right: 95px;}
}
@media (max-width: 767px) {
.lm_contain{padding: 10px;}
}

/*栏目页 图片列表 */
ul.picture-list{clear:both;border-top:none;overflow:hidden;}
ul.picture-list li,.videoNews-list li{float:left;display:inline;background:none;padding:10px 15px 10px;height:auto;text-align:center;width:260px;}
ul.picture-list li a,.videoNews-list .left-img a{display: block; overflow: hidden; width: 100%; float: none;}
ul.picture-list li a img,.videoNews-list .left-img a img{width:240px;height:180px;float:left;padding:10px;background:#f2f2f2;}
ul.picture-list li a:hover img,.videoNews-list .left-img a:hover img{background: #f4f8fb;}
ul.picture-list li .img_title,.videoNews-list .video-title .left a{display:block;height:30px;line-height:30px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;float:left;font-size:16px;padding-top:5px;}
/*视频列表 */
.videoNews-list .left-img,.videoNews-list .right-main,.videoNews-list .video-title .left{float:none;}
.videoNews-list li .video-attr{float:left;width:100%;height:24px;line-height:24px;color:#999;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;text-align:left;}
.videoNews-list li .play-icon,.videoNews-list li .videoNews-note{display:none;}
@media (min-width: 992px) and (max-width: 1199px) {
ul.picture-list li,.videoNews-list li{padding:8px 10px 8px;width:204px;}
ul.picture-list li a img,.videoNews-list .left-img a img{width:184px;height:138px;}
}
@media (min-width: 768px) and (max-width: 991px) {
ul.picture-list li,.videoNews-list li{padding:8px 10px 5px;width:226px;}
ul.picture-list li a img,.videoNews-list .left-img a img{width:206px;height:155px;}
}
@media(max-width: 767px) {
ul.picture-list,.videoNews-list{padding:5px 0 0;width:100%;}
ul.picture-list li,.videoNews-list li{float:none;width:auto;height:auto;display:block;padding:0 0 8px;}
ul.picture-list li a,.videoNews-list .left-img a{display:block;width:100%;max-width: none; text-align: center;}
ul.picture-list li a img,.videoNews-list .left-img a img{width:90%;height:auto;float:none;}
}

/*****网站地图****/
.dty_main{padding:20px 50px 40px;}
.dty_title{line-height: 34px; padding: 10px 0 33px; text-align: center;font-size:28px;font-weight:bold;color:#275293;}
.dty_mutitle{height:40px;line-height:40px;background:#fafafa;overflow:hidden;}
.dty_mutitle a{display:block;float:left;height:40px;line-height:40px;font-size:18px;color:#fff;padding:0 20px;background:#275293; white-space:nowrap; font-weight: bold;}
.dty_mutitle a:hover{color:#fff;}
.dty_sublb{padding:10px 0 15px;overflow:hidden;}
.dty_sublb ul li{float:left;height:38px;line-height:38px;width:20%;}
.dty_sublb ul li a{font-size:16px;display:block;background:url(../images/icon.png) 10px center no-repeat;padding-left:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
@media (max-width: 1199px) {
.dty_main{padding:20px 31px 30px;}
}
@media (max-width: 991px) {
.dty_title{padding:10px 0 20px;font-size:24px;}
.dty_sublb{padding:5px 0;}
.dty_sublb ul li{width:33.3%;height:36px;line-height:36px;}
}
@media (max-width: 767px) {
.dty_main{padding:10px;}
.dty_title{padding:10px 0;font-size:20px;}
}
@media (max-width: 480px) {
.dty_sublb ul li{width:50%;}
}

/*通用搜索页*/
.searchbox{padding:10px;}
.mart10{margin-top:10px;}
.searleft{width:240px;}
.searleft .searfl h3{height:40px;line-height:30px;padding-left:20px;font-size:16px;font-weight:bold;color:#275293;}
.searleft .searfl ul{background:#f9f9f9;padding:15px;}
.searleft .searfl ul li a{height:32px;line-height:32px;display:block;font-size:16px;padding-left:40px;}
.searleft .searfl ul li a:hover{background:#fff;color:#275293;}
.searleft .searfl ul li .active{background:#fff;color:#275293;}

.searright{width:870px;}
.searright .searchtel{height:38px;border-bottom:2px solid #275293;position:relative;}
.searright .searchtel h1{width:152px;height:40px;background:url(../images/ntel02.gif) 0 top no-repeat;position:absolute;left:0;top:0;line-height:40px;text-align:center;color:#fff; font-size:18px;font-weight:normal;}
.searright .searchtel p{position:absolute;right:5px;top:0; text-align:right;font-size:16px;height:38px;line-height:38px;}
.searright .searchtel p span{color:#275293;margin:0 5px;}
.searright .searchmain li{padding-bottom:20px;clear:both;}
.searright .searchmain li .setel{width:100%;height:26px;line-height:26px;font-size:16px;}
.searright .searchmain li .setel .tit{float:left;width:auto;padding:0 10px;height:26px;display:block;background:#275293;text-align:center;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.searright .searchmain li .setel a{float:left;width:90%;padding-left:7px;color:#275293;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.searright .searchmain li .setel a:hover{color:#c00;}
.searright .searchmain li .secont{line-height:26px;padding-top:2px;overflow:hidden;text-indent:2em;font-size:14px;clear:both;}
.searright .searchmain li .setime{width:100%;padding-top:3px;height:auto;line-height:24px;font-size:13px;color:#008000;word-break:break-all;word-wrap:break-word;}
.searright .searchmain li .setime span{margin-right:30px;}
.searright .searchmain li .setime span a{color:#008000;}

/*搜索内容-在线办事*/
.search-work-guide-bg {padding: 15px 20px;background: #fafafa; margin-bottom: 20px;}
.search-work-guide-bg .search-type-title {font-weight: 700;font-size: 16px;}
.search-work-guide-bg .search-type-title img{padding: 0 5px 0 0;}
.search-work-list li {height: 40px;line-height: 40px;font-size: 15px;border-bottom: #eaeaea 1px dotted;vertical-align: bottom;overflow: hidden;padding-left: 12px;background: url("../images/icon.gif") left center no-repeat;}
.search-work-guide-ul .search-work-list li .btn-online-processing {float: right;display: block; height: 23px;line-height: 23px;font-size: 14px; margin: 9px 0 0 10px;  padding: 0 10px; border: 1px #ddd solid;}
.search-work-guide-ul .search-work-list li .btn-online-processing:hover {background: #fff;}
.search-work-list li .title {display: block;margin-right: 50px;float: none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.search-work-list li .date{ float: right; color: #666; padding-left: 0 !important;}
.searchlistw01 .search-list li .zxbl_btn, .searchlistw01 .search-list li .online-link {margin: 6px 0 0 0;width: 66px;padding-left: 34px;height: 23px;line-height: 23px;display: block;float: left;background: url(../images/zxbl_btn.png) 0 0 no-repeat;}

@media (max-width: 1199px) and (min-width: 992px){
.searchbox{padding:0;}
.searright{width:680px;}
}
@media (max-width:991px) {
.searchbox{padding:0;}
.searleft{width:200px;}
.searleft .searfl ul li a{padding-left:20px;}
.searright{width:515px;}
.searright .searchmain li{padding-bottom:15px;}
}
@media (max-width: 767px) {
.searright{float:none;width:auto;}
.searright .searchmain li .setel .tit{float:none;max-width:100%;display:inline-block;box-sizing:border-box;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.searright .searchmain li .setel a{width:98%;padding-left:2%;}
.searright .searchmain li{padding-bottom:10px;}
}
/*通用搜索页-end*/





/**智能问答**/
.rotbot_top{height:80px;position:relative;box-shadow:#efefef 0 6px 8px;-webkit-box-shadow: #efefef 0 6px 8px;z-index:9;}
.rotbot_top .robot_img{position: absolute;top:0;left: 36px;}
.rotbot_top .rotbot_txt{margin-left: 124px;font-size: 24px;font-weight: bold;color: #3673B6;padding-top: 6px;line-height: 74px;}
.znsearchbox{margin-top:20px;background:#fff;border-radius:7px;}
.rotbot-wrapBox{width: 100%; height: 720px;}
@media (max-width:991px) {
.znsearchbox{margin-top:15px;}
.znsearchbox .rotbot-wrapBox{height:608px;}
}
@media (max-width:767px) {
.znsearchbox{margin-top:10px;}
.znsearchbox .rotbot-wrapBox{height:518px;}
}
/****智能问答end****/
/*栏目页 投票调查 */
.survey-list li{overflow:hidden;}
.survey-list li a{display:block;float:left;width:560px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; max-width: none;}
.survey-list li .starting,.survey-list li .over,.survey-list li .nostart{display:block; color:#118f04;float:right;width:65px; text-align:center;}
.survey-list li .over{color:#999;}
.survey-list li .nostart{color:#333;}
.survey-list li .date{display:block;width:210px;text-align:right;color:#999;}
/*栏目页 调查征集 */
.sollist_tit{height:40px;line-height:40px; background:#f8f8f8;overflow:hidden;}
.sollist_tit span{display:block;float:left;height:40px;font-size:16px;text-align:center;}
.sollist_tit span.t1{width:520px;text-align:left;padding-left:50px;}
.sollist_tit span.t2,.sollist_tit span.t3,.sollist_tit span.t4{width:100px;}
.collect-list li{overflow:hidden;}
.collect-list li a{display:block;float:left;width:554px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; max-width: none;}
.collect-list li .starting,.collect-list li .over,.collect-list li .nostart{display:block;float:left;width:100px;text-align:center;color:#118f04;}
.collect-list li .nostart{color:#333;}
.collect-list li .over{color:#999;}
.collect-list li .date{display:block;width:100px;text-align:center;font-size:14px;color:#999; float:left;}
.collect-list li .result{ float:right; width:100px; text-align:center;}
.collect-list li .result a{ width:100%;}

.m-yjzjtabs{background: #e6e6e6; overflow: hidden;}
.m-yjzjtabs li{float: left; width: 150px; text-align: center; font-size: 16px; line-height: 46px; cursor: pointer;}
.m-yjzjtabs li.active{background: #275293; color: #fff;}
@media (max-width:767px) {
.m-yjzjtabs li{width:auto;padding:0 12px;font-size:14px;}
}
/***调查文章页***/
.vote_result{margin:auto;}
.newstitle{font-size:30px;font-weight:bold;line-height:40px;text-align:center;padding:10px 0 10px;}
.voteinfo{height:auto;line-height:28px;color:#666;font-size:14px;overflow:hidden;border-bottom:#e7e7e7 1px solid;text-align:center;position:relative;z-index:11;padding:5px 0 12px;}
.voteinfo span{padding:0 0.5em;}
.voteinfo span u{font-style:normal;text-decoration:none;color:#1753a4;}

.vote_result .vote-info{padding:20px 0;font-size:16px;line-height:200%;}
.vote_result .vote-main{font-size:16px;width:96%;margin:auto;}
.vote_result .vote-lsit{padding-bottom:10px;}
.vote_result .vote-lsit .title{font-weight:bold;line-height:26px;padding:7px 0 10px;}
.vote_result .vote-lsit ul{padding:15px;border:1px solid #e7e7e7;}
.vote_result .vote-lsit ul img{max-width:100%;}
.vote_result .vote-lsit ul li{height:auto;line-height:24px;padding:3px 0;}
.vote_result .vote-lsit ul li input{float:left;margin:7px 11px 0 0;*margin:5px 11px 0 0;_margin:5px 11px 0 0;font-size:12px;}
.vote_result .vote-lsit ul li.vote-textarea{height:100px;}
.vote_result .vote-lsit ul li.vote-textarea textarea{border:1px solid #ccc;height:92px;width:90%;padding:4px 5px;}
.vote_result .vote-code{width:95%;margin:auto;padding:20px 0;font-size:14px;overflow:hidden;height:30px;}
.vote_result .vote-code .text-code{float:left;display:block;line-height:30px;}
.vote_result .vote-code .verification{border:1px solid #ddd;height:28px;line-height:28px;width:96px;float:left;padding:0 5px;}
.vote_result .vote-code .img-code{float:left;padding-left:8px;}
.vote_result .vote-btn{height:60px;text-align:center;}
.vote_result .vote-btn button{height:40px;background:#1753a4;color:#fff;font-size:16px;text-align:center;cursor:pointer;border:0;width:140px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:0 10px;font-family:"Microsoft YaHei";outline:none;}
.vote_result .vote-btn button.btn-review{background:#f80;}
.vote-show{width:100%;margin:auto;border:1px solid #e7e7e7;font-size:14px;}
.vote-show th{text-align:left;border-bottom:1px solid #f0f0f0;background:#faf9f9;height:auto;padding:8px 5px 8px 15px;line-height:24px;font-size:14px;}
.vote-show td .vote_con{width:95%;margin:auto;border-bottom:1px dotted #f0f0f0;height:auto;line-height:30px;padding:0px 0;clear:both;}
.vote-show td .vote_con span{display:block;height:auto;line-height:24px;}
.vote-show td .vote_con span.c1,.vote-show td .vote_con span.c2,.vote-show td .vote_con span.c3{padding:9px 0 2px;}
.vote-show td .vote_con span.c3 i{color:#dd0000;font-style:normal;}
.vote-show td .vote_con span.progress-bar{width:100px;height:14px;float:left;background:#eee;}
.vote-show td .vote_con span.progress-bar .progress{background:#f27c25;display:block;height:14px;}
.vote-show td .vote_content{width:96%;margin:0 auto;border-bottom:1px dotted #f0f0f0;line-height:24px;padding:10px 0;}
@media (min-width: 992px) {
.vote-show td .vote_con span{float:left;}
.vote-show td .vote_con span.c1{width:66%;padding:7px 2%;}
.vote-show td .vote_con span.c2{width:14%;padding:14px 0 0;}
.vote-show td .vote_con span.c3{width:12%;padding-right:2%;float:right;text-align:right;}
}
@media (max-width: 991px) {
.newstitle{font-size:28px;line-height:32px;}
.voteinfo{line-height:24px;}
.vote-show td .vote_con span.progress-bar{float:none;width:150px;}
.vote-show td .vote_con{padding-bottom:5px;}
.vote-show td .vote_con span.c1{padding:7px 0 0;}
.vote-show td .vote_con span.c2{float:left;width:60%;}
.vote-show td .vote_con span.c3{float:left;padding:0;width:39%;text-align:right;}
}
@media (max-width: 767px) {
.newstitle{font-size:22px;line-height:26px;padding:0 0 5px;}
.vote_result .vote-info{padding:10px 0;line-height:1.5em;}
.vote_result .vote-main{width:100%;}
.vote_result .vote-code{width:100%;}
.vote_result .vote-lsit ul{padding:10px;}
.vote_result .vote-btn button{width:100px;}
.vote_result .vote-code .verification{width:76px;}
.vote_result .vote-code .img-code{padding-left:0;}
}

/*征集文章页*/
.collectInfo_backinfo{ min-height:300px;_height:300px;}
.myinfo i{ font-style:normal;}
.myinfo i.nostart{ color:#dd0000;}
.myinfo i.starting{ color:#13844d;}
.myinfo i.ending{ color:#999;}
.collectInfo_title{margin:auto;text-align:left;border:1px dashed #319bde;padding:10px; font-family:仿宋_GB2312;color:#666; line-height:36px; font-size:16px;}
.collectInfo_title .tit{ color:#457db4;  font-weight:bold;  }
.collectInfo_backinfo,.collectInfo_xj{ font-size:16px; line-height:36px; margin-bottom:10px;}
.collectInfo_xj span{ font-weight:bold; color:#457db4;}
.collection-theme-list{/*margin-top:20px;*/}
.collection-theme-list ul li .collection-body{border-top:#ddd 1px dotted;padding:15px 25px;line-height:22px;}
.collection-theme-list ul li .collection-body .collection-username{color:#e60012; line-height:30px;}
.collection-theme-list ul li .collection-body .collection-info{color:#555;word-break:break-all;word-wrap:break-word; line-height:30px;}
.collection-theme-list ul li .collection-body .collection-datetime{color:#999;line-height:30px;}
.poll_collect{  font-size:14px;}
.poll_collect h3,.collection-theme h3.collectit{font-size: 20px;color:#275293; font-weight:bold;height: 60px;line-height: 60px; background:url(../images/icon_myzj.gif) left center no-repeat; padding-left:38px;}
.collection-theme h3.collectit{ background-image:url(../images/icon_myzjhf.png);}
.poll_collect ul{ margin:0px auto 0;}
.poll_collect li{border: #DDDDDD solid 1px;padding: 2px;height: 34px;margin-bottom: 10px;line-height: 34px;clear: both;}
.poll_collect li p{ float:left; position:relative; padding: 0; margin: 0; text-indent:0;}
.poll_collect li p.poll_txt,.poll_collect li p.poll_con{ width:115px; text-align:right; padding-right:5px;border-right: #DDDDDD solid 1px;}
.poll_collect li p.poll_input,.poll_collect li p.poll_yzm{padding:2px 5px; height:30px;}
.poll_collect li p span.msg-box{ position:absolute; left:0; top:0;}
.poll_collect li p.poll_con{ height:180px;}
.poll_collect li .red{ color:#f00; float:right; padding-right:8px;}
.poll_collect li p input{ height:32px; border:0 none; background:none; line-height:26px; float:left;outline:none; color:#666;}
.poll_collect li p input.n-invalid{ width:400px;}
.poll_collect li p.poll_conts{margin-top:2px; padding:2px 5px; float: none;margin-left: 124px;}
.poll_collect li p.poll_conts textarea{ border:0 none; background:none; line-height:20px; height:172px; width:100%; outline:none; font-size:14px; color:#666;}
.poll_collect .poll_area{ height:180px;}
.poll_collect li p.poll_yzm input{width:80px;vertical-align:middle; float:left;}
.poll_collect li p.poll_yzm img{ float:left;}
.poll_collect li.btn-group{ border:0 none; text-align:center; height:40px; width:auto;}
.poll_collect li.btn-group input{ float:none; height:40px; background:#275293;border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px; color:#fff; font-size:18px; text-align:center; cursor:pointer; border:0 none; width:140px;}
@media (min-width: 992px) and (max-width:1199px) {
.sollist_tit span.t1{ width: 322px;}
.collect-list li a{ width:357px;}
.survey-list li a{ width: 370px;}
}
@media (max-width:991px) {
.survey-list li a{ width:440px;}
.collect-list li a{ width:423px;}
.sollist_tit span.t1{ width:418px; padding-left: 20px;}
/*调查*/
.vote-main,.vote-code{ width:100%; padding:0;}
.vote-info,.vote-code{ padding:10px 0;}
.vote-btn{ padding-bottom:0px;}
.vote-show td .vote_con span.c1{width: 100%; padding: 0;}
.vote-show td .vote_con span.c2{width: 100%; padding-top: 10px;}
.vote-show td .vote_con span.progress-bar{float: left;}
.vote-show td .vote_con span.c3{width: 100%; padding: 0; text-align: left;}
.vote-show,.vote-info{ width:100%; margin-bottom:0px;}
}
@media (max-width:767px) {
/*调查*/
.vote_result{ margin-bottom:0px;}
.survey-list li a{ float: none; width: auto; margin-right: 60px;}
.survey-list li .date{ display:none;}
.survey-list li{ position: relative; z-index:0;}
.survey-list li span{ float: none; position: absolute; right: 0; top:0; }
.vote-btn button{ width:100px;}
.collect-list li,.sollist_tit{ position:relative; font-size: 14px;}
.sollist_tit span.t1{ padding-left:10px;}
.collect-list li .date,.sollist_tit span.t2{ display:none;}
.collect-list li a,.sollist_tit span.t1{ float:none; width:auto; margin-right:135px;}
.collect-list li .starting,.collect-list li .over,.collect-list li .nostart,.sollist_tit span.t3{ width:65px; position:absolute; float:none; right:70px; top:0px;}
.collect-list li .result,.sollist_tit span.t4{ position:absolute; right:0px; top:0px; width:65px;}
/***征集文章***/
.poll_collect li{height: auto;border: none;padding:0;}
.poll_collect li p.poll_txt, .poll_collect li p.poll_con{width: 100%;float: none;height: auto;text-align: left;border-right: none;}
.poll_collect li .red{float: none;}
.poll_collect li p.poll_input,.poll_collect li p.poll_yzm,.poll_collect li p.poll_conts{width: 100%;padding: 0;float: none;}
.poll_collect li p.poll_input input,.poll_collect li p.poll_conts textarea{width: 100%;padding:0 2%;border: #DDDDDD solid 1px; box-sizing: border-box;}
.poll_collect li p.poll_conts textarea{padding: 10px 2%;}
.poll_collect .poll_area{height: auto;}
.poll_collect li p.poll_conts{margin-left: 0;}
.poll_collect li p.poll_yzm input{border: #ddd 1px solid;}
.collection-theme-list ul li .collection-body{ padding:2%;}
}

/*栏目页-在线访谈 */
ul.interview-list li{ background: none; padding: 10px 0 20px 0; height: auto; border-bottom: 1px dotted #ddd; color: #333;margin-bottom: 5px;}
ul.interview-list li .interview-img{float: left;}
ul.interview-list li .interview-img img{ width: 224px; height: 160px;}
ul.interview-list li .empty-img{width:224px;height:158px; border: 1px #eee solid; line-height: 154px; text-align: center;}
ul.interview-list li .empty-img img{ width: auto; height: auto;}
ul.interview-list li .interview-info{margin-left: 244px; padding-top: 2px;}
ul.interview-list li .interview-info p{ font-size: 15px; line-height: 30px;}
ul.interview-list li .interview-info p a{ font-size: 15px;}
ul.interview-list li .interview-info p a.interview-names:hover{color: #333;}
ul.interview-list li .interview-info p.interview-title a{max-width: 100%; display: inline-block;}
ul.interview-list li .interview-info p .name{float: left; display: block;width: 48px; height: 22px; background: #275293; text-align: center; line-height: 22px; color: #fff;margin-top: 3px;margin-right: 13px;}
ul.interview-list li .interview-info p.interview-title{font-weight: bold; padding: 2px 0 8px; line-height: 24px;}
ul.interview-list li .interview-info p.interview-title a{ font-weight: bold; font-size: 20px;}
ul.interview-list li .interview-info p.interview-title a:hover,ul.interview-list li .interview-info p.interview-note a:hover{ color: #d00;}
ul.interview-list li .interview-info p.interview-note{ line-height: 28px; min-height:28px; color: #666;}
ul.interview-list li .interview-info p.interview-note a{color: #dd0000; font-size: 14px;}
@media (min-width: 992px) and (max-width:1279px) {
ul.interview-list li .interview-info p.interview-note{line-height:24px;min-height:24px;}
}
@media (max-width: 991px){
ul.interview-list li{padding: 10px 0;margin-bottom: 0;}
ul.interview-list li .interview-info p.interview-note{line-height:24px;min-height:24px;}
}
@media (max-width: 767px){
ul.interview-list li .interview-info p.interview-title{padding-bottom: 0;}
ul.interview-list li .interview-img{ float: none; width: auto; margin-top: 0; text-align: center; height:  auto; padding:0 0 10px;}
ul.interview-list li .interview-img img{width: 100%; height: auto;}
ul.interview-list li .interview-info{margin: 0;}
ul.interview-list li .empty-img{height:auto; line-height:0; margin: 0 0 10px; padding-bottom: 0;border: 0;}
ul.interview-list li .empty-img img{width: 100%;height: auto;}
}

/*** 访谈文章页 ****/
.fty_con{ padding: 20px;min-height:500px;}
.interview-detail{width:auto;}
.interview-detail .interview-title{overflow:hidden;text-align:center;font-size:28px; line-height:40px; padding:10px;color:#275293;font-weight:bold;}
.interview-detail .interview-info{width:100%;height:auto;clear:both; margin:20px 0; overflow:hidden;background:#f6f6f6;}
.interview-detail .interview-info:after{visibility:hidden;display: block;font-size: 0;content:" ";clear:both;height:0;}
* html .interview-detail .interview-info{zoom: 1;} /* IE6 */
*:first-child+html .interview-detail .interview-info{zoom: 1;} /* IE7 */
.interview-detail .interview-info .in-img{float:left;width:462px;height:330px;}
.interview-detail .interview-info .in-img img{width:462px;height:330px;}
.interview-detail .interview-info .empty-img{height:330px;line-height:330px;width:462px;background:#eee;text-align:center;}
.interview-detail .interview-info .empty-img img{height:auto;width:auto !important;max-width:100%;max-height:100%;}
.interview-detail .interview-info .in-info{float:right;width:620px;padding:15px 20px 0 0;}
.interview-detail .interview-info .in-info p{font-size:16px; color: #666; line-height:32px; padding: 5px 0; overflow:hidden; text-align: justify;}
.interview-detail .interview-info .in-info p .name{float:left;display:block;width:56px;height:24px;background:#0e76cd;text-align:center;line-height:24px;color:#fff; margin-top:3px;margin-right:13px;}
.interview-detail .interview-info .in-info p.p1{min-height:26px;}
.interview-detail .interview-info .in-info p.p2 a{color: #666;}
.interview-detail .interview-info .in-info p.p2 a:hover{color: #666;}
.interview-detail .interview-info .in-info p.note-content{max-height: 160px; overflow: hidden; overflow-y: auto;}
.interview-detail .interview-info .in-info p span.tit{ float: left; margin-left: 0; font-size:16px; font-weight:bold;padding-right: 10px; color:#333;}
.interview-detail .interview-desc{ margin-top:20px;clear:both; }
.interview-detail .interview-desc-title{height:40px; line-height:40px; background:#f6f6f6; margin-bottom:15px;}
.interview-detail .interview-desc-title span{display:block;float:left;padding:0 30px; font-size:18px; color:#fff; background:#275293;}
.interview-detail .interview-desc-title .tptabs  li{ display:inline; float:left; width:auto; height:40px; padding:0 30px; font-size:18px;}
.interview-detail .interview-desc-title .tptabs  li a{ color:#333;}
.interview-detail .interview-desc-title .tptabs  li.active{ background:#275293; color:#fff;}
.interview-detail .interview-desc-title .tptabs  li.active a{ color:#fff;}
.interview-detail  .interview-zj{ font-size:14px; line-height:26px; padding:0 10px;}
.interview-pic .con{ display:none;}
.interview-pic .active{ display:block;}
.interview-detail .interview-desc-title p{ height: 20px; line-height: 20px; padding: 10px 0;}
.interview-detail .interview-desc-title p a{ display:block; float:left; background:url(../images/ftwz_icon.png) 0 0 no-repeat;}
.interview-detail .interview-desc-title p a:hover{ color:#333;}
.interview-detail .interview-desc-title p a.sx{ width:47px; padding-left:19px; background-position:0 -80px; display:none;}
.interview-detail .interview-desc-title p a.zx{ width:45px; padding-left:12px; background-position:0 0;}
.interview-detail .interview-desc-title p a.zx.on,.interview-detail .interview-desc-title p a.zx:hover{ background-position:0 -20px;}
.interview-detail .interview-desc-title p a.fx{ width:42px; padding-left:12px; background-position:0 -40px;}
.interview-detail .interview-desc-title p a.fx.on,.interview-detail .interview-desc-title p a.fx:hover{ background-position:0 -60px;}

.interview-detail .interview-desc .desc{line-height:2;font-size:16px;color:#555;text-indent:2em;word-break:break-all;word-wrap:break-word; margin-bottom:20px; text-align: justify;padding-right: 5px;}
.interview-detail .interview-desc .j-video-player{ margin-bottom: 20px; text-indent: 0;}
.interview-detail .interview-info-list{clear:both;padding-top:20px;font-size: 16px;border-top: 1px solid #eee;}
.interview-detail .interview-info-list #question_page{max-height: 500px;overflow-y: auto;padding-right: 5px;}
.interview-detail .interview-info-list:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .interview-detail .interview-info-list{zoom: 1;} /* IE6 */
*:first-child+html .interview-detail .interview-info-list{zoom: 1;} /* IE7 */
.interview-detail .interview-info-list .pagination{margin:0;padding:10px 0 10px;}
.interview-detail .interview-info-list .interview-body{padding:15px 20px;line-height:30px;font-size:16px;color:#555; border-bottom:1px solid #f6f6f6;word-break:break-all;word-wrap:break-word;}
.interview-detail .interview-info-list .interview-body .interview-info{word-break:break-all;word-wrap:break-word;}
.interview-detail .interview-info-list .interview-reply{border:#dcdcdc 1px dashed;background:#f6f6f6;padding:15px 20px;line-height:30px;font-size:16px;color:#555555;}
.interview-detail .interview-info-list .interview-username{font-weight:bold;color:#e60012;}
.interview-detail .interview-info-list .interview-datetime{color:#999;}
.interview-detail .interview-table{width:100%; margin-top: 40px; clear: both;}
.interview-detail .interview-table th{height:40px;line-height:40px;font-size:16px;width:160px;text-align:right;padding-right:10px;font-weight:normal;}
.interview-detail .interview-table td{padding:4px 0;}
.interview-detail .interview-table td input,.interview-detail .interview-table td textarea{font-family:"Microsoft YaHei";color:#666;}
.interview-detail .interview-table td.name #interview_name{width:300px;height:30px;line-height:30px;padding:0 5px;border:#ddd 1px solid;background:#f8f8f8;}
.interview-detail .interview-table td.opinion #interview_content{width:550px;height:100px;line-height:30px;padding:5px;border:#ddd 1px solid;background:#f8f8f8;}
.interview-detail .interview-table td.poll_input #checkimg{width:100px;height:30px;line-height:30px;padding:0 5px;border:#ddd 1px solid;background:#f8f8f8;}
.interview-detail .interview-table td.btn-group{padding:10px 0 30px; width: auto !important;}
.interview-detail .interview-table td.btn-group #btn_submit{width:116px;background:#275293;height:38px;line-height:38px;cursor:pointer;border:0;outline:none;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; padding: 0; text-align: center;}

.fty_imglist{height:193px;margin:20px 0;overflow:hidden;position:relative;}
.fty_imglist .prev,.fty_imglist .next{position:absolute;top:50%;width:20px;height:40px;overflow:hidden;cursor:pointer;background:url(../images/ftprve.png) no-repeat;z-index:99;margin-top:-20px;}
.fty_imglist .prev{left:0;background-position:0 0;}
.fty_imglist .prev:hover{background-position:-20px 0;}
.fty_imglist .next{right:0;background-position:-40px 0;}
.fty_imglist .next:hover{background-position:-60px 0;}
.fty_imglistlb{position:relative;height:183px;overflow:hidden;z-index:11;}
.fty_imglistlb ul li{width:265px;height:183px;padding-right:20px;float:left;}
.fty_imglistlb ul li a{display:block;width:100%;height:183px;cursor:pointer;overflow:hidden;position:relative;}
.fty_imglistlb ul li img{width:100%;height:183px;left:0;top:0;position:absolute;}
.fty_imglistlb ul li span{display:block;height:32px;position:absolute;right:0;padding:0 10px;left:0;bottom:0;line-height:32px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:url(../images/black50.png) repeat;color:#fff;font-size:16px;}
/*** 访谈文章页 ****/
@media (min-width: 992px) and (max-width:1279px) {
.fty_con{padding:15px 20px;}
.interview-detail .interview-info .in-img{width:420px;height:auto;}
.interview-detail .interview-info .in-img img{width:100%;height:auto;}
.interview-detail .interview-info .empty-img{width:420px;line-height:300px;}
.interview-detail .interview-info .in-info{width:450px;padding-top:10px;}
.interview-detail .interview-info .in-info p.p3{max-height:180px;}

.fty_imglist{height:152px;}
.fty_imglistlb{height:152px;}
.fty_imglistlb ul li{width:213px;height:152px;}
.fty_imglistlb ul li a{height:152px;}
.fty_imglistlb ul li img{height:152px;}
}
@media (max-width:991px) {
.fty_con{padding:0 10px 10px;}
.interview-detail .interview-info{margin-top: 0;}
.interview-detail .interview-info{background: none;}
.interview-detail .interview-info .in-img{float: none; width: auto; height: auto; text-align: center; padding:0;}
.interview-detail .interview-info .in-img img{width: 100%; margin: 0 auto; height: auto;}
.interview-detail .interview-info .empty-img{line-height: 282px;}
.interview-detail .interview-info .in-info{float: none; padding:8px 0 0; margin: 0 auto; width: auto;}
.interview-detail .interview-info .in-info p.note-content{height: auto; max-height: none;}

.fty_imglist{height:169px;}
.fty_imglistlb{height:169px;}
.fty_imglistlb ul li{width:236px;height:169px;padding-right:15px;}
.fty_imglistlb ul li a{height:169px;}
.fty_imglistlb ul li img{height:169px;}
}
@media (min-width: 768px) and (max-width:991px) {
.interview-detail .interview-table th{width:120px;}
}
@media (max-width:767px) {
.fty_con{padding:0;}
.interview-detail .newstitle{ padding: 10px 0px;}
.interview-detail .interview-info{margin-top: 0;}
.interview-detail .interview-info .in-info p.p3{max-height: none; overflow-y: inherit;}
.interview-detail .interview-table th{width: 120px;}
.interview-detail .interview-table td.opinion #interview_content{width: 90%;}
.interview-detail .interview-table td.name #interview_name{width: 90%;}
.interview-detail .interview-desc .j-video-player{width: 100% !important; height: auto !important;}
.interview-detail .interview-desc video{ width: 100% !important; height: auto !important;}
.interview-detail .interview-table{margin-top: 10px;}
.interview-detail .interview-table td.btn-group{padding-bottom: 10px;}

.fty_imglist{height:150px;}
.fty_imglistlb{height:150px;}
.fty_imglistlb ul li{width:210px;height:150px;padding-right:10px;}
.fty_imglistlb ul li a{height:150px;}
.fty_imglistlb ul li img{height:150px;}
}
@media (max-width:480px) {
.interview-detail .interview-table th{width: 90px; padding-right: 0; font-size: 14px;}
.interview-detail .interview-desc .desc{padding: 0 0 10px;}
.interview-detail .interview-info{padding-top: 0;}
.interview-detail .interview-info .in-img{ padding: 0;}
.interview-detail .interview-info .in-img img{width: 100%;}
.interview-detail .interview-info-list{padding-top:15px;}
.interview-detail .interview-info-list .interview-body{padding: 10px 0;}
.interview-detail .interview-info-list .interview-reply{padding:10px;}

.interview-detail .interview-table td.poll_input #checkimg{width: 68px;}
}



/* 栏目页-留言查询 弹框 */
.ui-dialog-content .guestbook-search{padding:10px 50px !important;}
.tishi_con{padding:10px 0;line-height:24px;color:#666;}
.guestbook-text ul li{padding-left:60px;}
.guestbook-text ul li span{color:#d63717;}
/* 栏目页-留言结果 弹框 */
.ui-dialog-title{color:#275293;}
.guestbook-text .font_01{font-size:20px !important;line-height:30px;color:#f80;font-weight:bold;}
.tishi_con{line-height:28px;font-weight:normal;}
.guestbook-tips ul li{text-align:left;font-size:16px;line-height:36px;color:#333;padding-left:40px;}
.guestbook-tips span{color:#fa6400;}
@media (max-width:767px) {
.ui-dialog-content .guestbook-search{padding:10px 0 !important;}
.guestbook-tips{padding:0 !important;}
.guestbook-tips ul li{padding-left:20px;}
.guestbook-search ul li input{width:170px;}
}
/* 栏目页-留言 弹框 end */

/*栏目页-留言查询*/
.lm_main{ background: url("../images/lm_leftbarbg.jpg") left top repeat-y; overflow: hidden;}
.mesglist_search{ padding: 13px 58px 10px 48px; background: #f8f8f8;}
.mesglist_search li{float: left; padding: 7px 0; line-height: 30px; text-align: left; color: #333; background: none; overflow: visible;}
.mesglist_search li.bt{width: auto;margin-left: 49px;}
.mesglist_search li .tit{float: left; font-size: 16px; text-align: right; width: 85px; line-height: 30px; height: 30px;}
.mesglist_search li .input,.mesglist_search .select{height: 30px; margin-left: 85px; line-height: 0; font-size: 0; *float: left; *margin-left: 0 !important; *width: 907px;}
.mesglist_search li .input input{border: 1px solid #c6c6c6; background: #fff; height: 28px; line-height:28px; font-size: 14px; padding: 0 10px; width: 100%; *width: 98%; *padding: 0 1%; box-sizing:border-box;}
.mesglist_search li.bh{width: 295px;}
.mesglist_search li.bh .input{*width: 202px;}
.mesglist_search li.ly{width: 280px!important;}
.mesglist_search li.ly .select{ margin-left: 59px; *width: 202px;}
.mesglist_search li.ly .tit{ width: 59px;}
.mesglist_search .select select{ width: 100%; height: 30px; padding: 0 1%; font-size: 14px; line-height: 30px; vertical-align: middle;border: 1px solid #c6c6c6; *float: left; overflow: hidden;}
.mesglist_search li.cxm{width: 323px;}
.mesglist_search li.cxm .tit{ width: 110px;}
.mesglist_search li.cxm .input{margin-left: 110px; *width: 212px;}
.mesglist_search li.btn01{ padding-left: 3px; width: 220px; font-size: 0; line-height: 0;}
.mesglist_search li.btn01 input{ width: 80px; text-align: center; height: 28px; cursor: pointer; line-height: 28px; color: #fff; font-size: 14px; background: #0e76cd; border: 0 none; vertical-align: middle; margin-left: 10px;}
.mesglist_search li.btn01 input:hover{background: #0e76cd !important;}
/*栏目页-留言列表*/
.mesg_listbox{ padding: 12px 0 0; min-height: 300px;}
.mesg_listbox .tel{background:#f8f8f8;border-bottom: 1px solid #ddd; height: 38px;}
.mesg_listbox .tel p{float: left; font-size: 16px; text-align: center; font-weight: bold; color: #333; line-height: 38px;height: 38px;}
.mesg_listbox .tel p.p1{ width: 130px;}
.mesg_listbox .tel p.p2{ width: 400px; text-align: left; text-indent:120px;}
.mesg_listbox .tel p.p3{ width: 150px;display:none;}
.mesg_listbox .tel p.p4{ width: 160px;}
.mesg_listbox .tel p.p5{ width: 80px;}
.mesg_listbox .tel p.p6{ width: 100px; float: right;}
.mesg_listbox ul{ padding: 2px 0 0;}
.mesg_listbox li{ border-bottom: 1px dashed #d0d0d0; padding-left: 0px; background: none;}
.mesg_listbox li p{height: 38px; line-height: 38px; font-size: 14px; text-align: center; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.mesg_listbox li p.p1{ width: 130px; color: #666;}
.mesg_listbox li p.p2{ width: 370px; padding:0 10px 0 20px; text-align: left;}
.mesg_listbox li p.p2 a{ display: inline-block; max-width: 100%; *width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 16px;}
.mesg_listbox li p.p3{ width: 150px;display:none;}
.mesg_listbox li p.p4{ width: 160px;}
.mesg_listbox li p.p5{ width: 80px; color: #666;}
.mesg_listbox li p.p6{ width: 100px; float: right; color: #666;}
@media (min-width:992px) and (max-width:1199px) {
.mesglist_search{ padding: 13px 20px 13px;}
.mesglist_search li.cxm{width: 280px;}
.mesglist_search li.bh{width: 279px;}
.mesglist_search li.ly{width: 210px!important;}
.mesg_listbox .tel p.p2{ width: 242px; text-indent: 0; text-align: center;}
.mesg_listbox .tel p.p5{ width: 80px;}
.mesg_listbox .tel p.p4{ width: 120px;}

.mesg_listbox li p.p2{ width: 222px; padding:0 10px;}
.mesg_listbox li p.p4{ width: 120px;}
}
@media (max-width:991px) {
.lm_main{ background:none;}
.mesglist_search li.bt{margin-left:0;}
.mesg_listbox .tel p.p1,.mesg_listbox .tel p.p3,.mesg_listbox .tel p.p4,.mesg_listbox .tel p.p5,.mesg_listbox li p.p1,.mesg_listbox li p.p3,.mesg_listbox li p.p4,.mesg_listbox li p.p5{display: none;}
.mesg_listbox .tel p.p2,.mesg_listbox li p.p2{float: none; width: auto; margin-right: 118px;}
.mesg_listbox li p.p2{padding: 0 10px;}
.mesg_listbox .tel p.p2{text-indent: 20px;}
.mesglist_search li{float: none !important; width: auto !important;}
.mesglist_search li.ly{width: auto!important;}
.mesglist_search{padding: 13px 25px 13px 10px !important;}
.mesglist_search li .tit{width: 80px !important;}
.mesglist_search li .input,.mesglist_search li.ly .select{margin-left: 80px !important;}
.mesglist_search li.btn01{ text-align: center; padding-left: 0;}
.mesg_listbox .pagination{margin-top: 20px;}
}
/*留言列表页 end*/
/*留言须知 on*/
.mesg_contnet{font-size:16px; line-height:40px; padding:10px 0; overflow:hidden; min-height:488px; height:auto; background:#fff; border-top: 0 none;}
.xuzhi_conbox{ color: #000; text-align: justify;   line-height: 32px;}
.xuzhi_conbox h3{font-weight: bold; font-size: 18px;}
.xuzhi_conbox p{ text-indent: 2em;}
.xuzhi_btn{ text-align: center; padding: 13px 0 0; height: 40px; line-height: 40px; font-size: 0;}
.xuzhi_btn label{vertical-align: middle; padding: 0 8px; font-size: 16px;}
.xuzhi_btn input{margin-right: 10px;}
.xuzhi_next,.xuzhi_next_disable{ width: 120px; text-align: center; height: 40px; line-height: 40px; font-size: 16px; color: #fff;background:#275293; margin: 17px auto 10px; display: block; transition: 0.4s all;}
.xuzhi_next:hover{color: #fff;}
.xuzhi_next_disable{background: #D3D3D3; cursor: default;}
.xuzhi_next_disable:hover{color: #fff; background: #D3D3D3;}
/*留言须知 end*/
/*留言表单页 on*/
.message_form{padding: 10px 0 20px 0;}
.message_form li{font-size: 16px; padding: 10px 0 0; line-height: 36px; background: none;}
.message_form .half{ width: 50%; float: left;}
.message_form .full{ clear: both; height: auto;}
.message_form .title{ width: 108px; text-align: right; padding-right: 5px;}
.message_form .title i{padding: 0 0 0 0.5em;}
.message_form .input{ margin-left: 113px; border: 1px solid #dedede; height: 34px; line-height: 0; font-size: 0;}
.message_form .txt{ margin-left: 113px;}
.message_form .input input{ border: 0 none; background: none; font-size: 14px; line-height: 34px;}
.message_form .half .input input{ width: 96%; padding: 0 2%;}
.message_form .full .input input{ width: 98%; padding: 0 1%;}
.message_form .textarea{ margin-left: 113px; border: 1px solid #dedede; padding: 0 0 9px 0;  line-height: 0; font-size: 0;}
.message_form .textarea textarea{ background: none; border: 0 none; width: 98%; padding: 8px 1% 0; height: 154px; resize: none; font-size: 14px; line-height: 22px;}
.message_form .textarea .tips{ padding: 12px 10px 0; display: block; line-height: 22px; text-align: right; font-size: 14px; color: #999999;}
.message_form .red{ color: #c40018; padding: 0 8px 0 0;}
.message_form .ispublic{ line-height: 26px; padding-bottom: 7px;}
.message_form .ispublic input{ margin-right: 7px;}
.message_form .ispublic label{ margin-right: 10px; vertical-align: middle; font-weight: normal;}
.message_form .file{ height: auto; margin-left: 113px; line-height: 0; font-size: 0;}
.message_form .file .btn-upload{ width: 80px; height: 34px; text-align: center; border: 1px solid #dedede; font-size: 14px; color: #333; line-height: 34px;  display: inline-block; vertical-align: middle; margin-left: 10px;}
.message_form .file .ke-input-text{width: 330px; border: 1px solid #ddd; line-height: 34px; height: 34px; text-align: center; font-size: 14px;display: inline-block; vertical-align: middle;}
.message_form .file .tips{font-size: 13px; display: block; width: 100%; padding: 8px 0 0; line-height: 20px;}
.message_form .select{line-height: 0; font-size: 0;}
.message_form .txt select{ width: 100%; font-size: 16px; border: 1px solid #c6c6c6; height: 38px; line-height: 38px; border-radius: 8px;}
.message_form .code{ margin-left: 113px; font-size: 0; line-height: 0;}
.message_form .code input{ width: 104px; border: 1px solid #dedede; line-height: 34px; height: 34px; padding: 0 10px; font-size: 14px;}
.message_form .code img{vertical-align: middle; margin: 0 0 0 9px;}
.message_form .code a{ margin-left: 13px; font-size: 16px; line-height: 40px; vertical-align: middle; display: inline-block;}
.message_form .btnbox{ text-align: center; padding: 24px 0 0; height: 40px; font-size: 0; line-height: 0;}
.message_form .btnbox input{ height: 40px; line-height: 40px; margin: 0 10px; width: 126px; text-align: center; font-size: 18px; color: #fff; cursor: pointer; background:#275293; border: 0 none; }
.message_form .btnbox .btn-reset{ background: #e4e4e4; color: #000;}
@media (max-width:991px) {
.message_form{padding: 20px 10px 10px;}
.message_form .btnbox{ padding-top: 25px;}
}
@media (max-width:767px) {
.mesg_contnet{border:0; padding: 0px 0px 10px;}
.message_form .title{float: none; width: auto; text-align: left;}
.message_form .input,.message_form .textarea,.message_form .file,.message_form .code{margin-left: 0;}
.message_form .xjxz .title{float: left;}
.message_form .txt{ margin-left: 0;}
.message_form .half{float: none; width: auto;}
.message_form .half .input input{width: 98%; padding: 0 1%;}
.message_form{padding: 0;}
.message_form li{padding:2px 0;}
.message_form .file .ke-input-text{width: 47%;}
.message_form .file .btn-upload{width: 25%;margin-left: 1%;}
}
@media (max-width:400px) {
.message_form .btnbox input{ width: 100px;}
}
/*留言表单页 end*/

/* 留言详细页 */
.lynybox{border:0;padding:20px 0;}
.mesgbox_main{ padding: 23px 0 48px; min-height: 300px;}
.mesg_table{ border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; line-height: 36px}
.mesg_table td{ border-top: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; font-size: 16px; text-align: justify;}
.mesg_table .tit{ background: #f8f9fc; font-weight: bold; color: #333; text-align: center; width: 183px;}
.mesg_table .nr{ padding: 10px 18px; line-height: 32px; word-break: break-all;}
.mesg_table .data{width: 270px;}
.mesg_table td label{ font-weight: normal; padding: 0 13px; vertical-align: middle;}
.mesg_table td input{margin: 0 15px 0 0;}
.mesg_table td .mesg_tj{ border-radius: 5px; height: 36px; line-height: 36px; text-align: center; cursor: pointer; color: #fff; background: #2264b9; font-size: 16px; padding: 0 20px; margin: 2px 0 0; border: 0 none;}
.close_bt{ display: block; width: 126px; height: 40px; text-align: center; margin: 30px auto 0; font-size: 18px; background: #8da2cf; border-radius: 8px; color: #fff; line-height: 40px;}
.close_bt:hover{color: #fff;}
@media (min-width: 992px) and (max-width:999px) {
    .mesg_table .data{width: 200px;}
}
@media (min-width: 768px) and (max-width:991px) {
    .con_main{ padding: 10px 10px 20px;}
    .mesg_table .data{width: auto;}
    .mesg_table .tit{width: 140px;}
    .mesgbox_main{padding: 15px 0 0;}
    .close_bt{ margin-top: 15px;}
}
@media (max-width:767px) {
    .lynybox{padding:10px 0 0;}
    .con_main{ padding: 10px 10px 20px;}
    .mesg_table .tit{width: 105px;}
    .mesgbox_main{padding: 15px 0 0;}
    .close_bt{ margin-top: 15px;}
    .mesg_table .data{ width: auto;}
    .mesg_table .nr{word-break:normal;}
}
/* 留言详细页 end */
/*答问知识库 on*/
.wd_centent{ background-position: 267px top;}
.wenda_search{ height: 40px; border: 1px solid #ccc; border-radius: 9px; position: relative;}
.wenda_search input{background: none; border: 0 none; vertical-align: middle; width: 100%;}
.wenda_search .ss1{margin: 6px 92px 6px 93px; height: 28px; font-size: 0; line-height: 0; border-left: 1px solid #d2d2d2; padding: 0 12px;}
.wenda_search .ss1 input{ height: 28px; line-height: 28px; font-size: 14px;}
.wenda_search .ss2{ right: -1px; top: -1px; width: 94px; border-radius: 0 9px 9px 0; background: #275293 url("../images/hdsearico.gif") 13px center no-repeat; height: 42px; position: absolute;}
.wenda_search .ss2 input{ height: 42px; cursor: pointer; text-indent: 36px; color: #fff; font-size: 18px; text-align: left;}
.wenda_search .ss3{ position: absolute; left: 5px; top: 0; width: 93px;color: #275293; font-size: 14px; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 40px; line-height: 40px; font-weight: bold;}
@media (max-width: 767px) {
.wenda_search .ss3{display: none;}
.wenda_search .ss1{margin-left: 0; border: 0 none;}
}
/*搜索 end*/
/*****wenda_search end****/
@media (min-width: 992px) and (max-width:1199px) {
.wenda_search .sear_ul{width: 595px;}
}

@media only screen and (max-width:991px) {
.wenda_pos .postitle{display: none;}
.wenda_search{float: none; margin-top: 10px;}
.wenda_search .sear_ul{width: 510px;}
.wd_centent{padding-bottom: 10px;}

}
@media only screen and (max-width:767px) {
.wenda_search .sear_ul{width: 100%;margin-right: 0;}
.wenda_search .sea_link{display: none;}
}
.lm_wenda{ width:230px;height:auto; }
.lm_wenda .m-theme h2{line-height: 30px; text-align: center; padding: 16px 0 17px; font-size: 20px; color: #666; border-bottom: 1px solid #cecece;}
.lm_wenda .m-theme ul{ padding: 0 5px;}
.lm_wenda .m-theme li{ width:50%; height: 40px; line-height: 46px; overflow: hidden; float: left; font-size: 18px; text-align: center; background: none; padding: 0;}
.lm_wenda .m-theme li a{ color: #666; display: block;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;}
.lm_wenda .m-theme li a.active,.lm_wenda .m-theme li a:hover{ color: #275293;}

.lm_wenda #hotAskAns li{float: none;width: 100%;text-align: left;height: auto;line-height: 30px;padding: 5px 0;}
.lm_wenda #hotAskAns li a{white-space:normal;overflow:initial}
.lm_wenda_r{border-left:1px solid #ddd; padding-left: 30px;}
@media (max-width: 991px) {
.lm_wenda{float: none; width: auto; clear: both;}
.lm_wenda .m-theme{margin:0;}
.wenda_pos{ padding-left: 10px;}
.wd_centent{margin-top: 0;}
.lm_wenda_r{border-left:none; padding-left: 0px;}
}
@media (max-width: 767px) {
.lm_wenda .m-theme li{ width: 25%;}
}
@media (max-width: 420px) {
.lm_wenda .m-theme li{ width: 50%;}
}
.lm_wendar{ padding: 10px 0 0;}
.lm_wendar ul li{ line-height: 30px; height: auto; color: #8C8C8C; font-size: 16px; background: none; border-bottom: 1px dashed #dadada; padding: 10px 5px; text-align: justify;}
.lm_wendar ul li a{ white-space: normal; margin-right: 0 !important;}
.lm_wendar ul li a:hover{color: #000;}

.dwzskwz{ padding-bottom: 40px; padding-top: 12px;}
.dwzskwz_tit{height:40px;line-height:40px;font-size:20px; font-weight: bold;}
.dwzskwz_tit.tit2{ padding: 25px 0 0;}
.dwzskwz_con{text-align: justify; color: #333; font-size: 18px; line-height: 200%;padding-bottom: 12px;text-indent: 2em;}
.dwzskwz_con div,.dwzskwz_con p{padding-bottom: 12px;}

.dwzsk_wzcontent{position: relative;}
.reldocuments{ width: 300px; position: absolute; right:0; top:10px;}
.reldocuments h3{ line-height: 40px; font-size: 20px; color: #275293; text-align: left; font-weight: bold;}
.reldocuments ul li{ height: 40px; line-height: 40px; border-bottom: 1px dashed #ddd; font-size: 16px;}
.reldocuments ul li a{ display: block;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.newscontent-left{ margin-right: 320px;}
@media (max-width:991px) {
    .dwzskwz{padding-bottom: 0;}
    .newscontent-left{ margin-right: 0; min-height: auto;}
    .reldocuments{ position: static; width: auto; padding: 0 0 10px;}
}

/*答问知识库文章 end*/
/*受理统计*/
.analyze{margin:0 20px;padding-bottom:50px;}
.analyze_top{width:100%;font-size:16px; color:#333; height:42px; margin-top:25px;}
.analyze_top_left{float:left; height:42px; line-height:42px; }
.analyze_top_left .tit{display:block;float:left;white-space:nowrap;}
.analyze_top_left .ipt{display:block;float:left;clear:none;}
.analyze_top_left .ipt li{float:left;padding: 0;background: none;position: relative;overflow: inherit;height: 42px;}
.analyze_top_left .ipt li .msg-box{position: absolute;left:0;top:8px;}
.analyze_top_left .ipt .analyze_inp{float:left;width:105px;height:26px;background-color:#FFF;border:1px solid #dddddd;line-height:26px;color:#999;font-size:15px;margin:7px 0 0 3px;}
.analyze_top_left .ipt span.hx{display:block;float:left;width:10px;text-align:center;margin-left: 3px;}
.analyze_top_left .analyze_search{float:left;width:58px; height:28px; background-color:#0e76cd; color:#FFF;font-size:15px; border:none; cursor:pointer;margin:7px 0 0 6px;}
.analyze_top_left .analyze_search:hover{background:#1b8be9;}
.analyze_top_right{background:url(../images/an_bg_line.jpg) repeat-x; width:500px; height:42px;line-height:42px; float:right;border:#ddd 1px solid;}
.analyze_top_right span{ display: block;float: left;height:42px;padding-left:24px; margin-left:30px;font-size:14px;}
.analyze_top_right span i{font-style: normal;color:#0e76cd;}
.analyze_top_right1{ background:url(../images/an_icon1.gif) 0 center no-repeat;}
.analyze_top_right2{ background:url(../images/an_icon2.gif) 0 center no-repeat;}
.analyze_top_right3{ background:url(../images/an_icon3.gif) 0 center no-repeat;}
.an_zhuxingtu{ width:100%; height:458px; margin-top:20px; }
.an_zhuxingtu img{ margin-left:auto; margin-right:auto;}

.an_zhuxingtu_down1{width:100%; height:32px; border-bottom:1px solid #dedede; border-top:1px solid #dedede;margin:10px 0px 0px 0px;}
.an_zhuxingtu_down1 ul{list-style:none; height:32px; margin-right:0px; float:left; padding:0 0 0 17px;}
.an_zhuxingtu_down1 ul li{ float:left; width:101px; height:32px; line-height:32px; text-align:center; font-size:14px; padding-left:0; background:none;}
#an_down_one{width:50px; text-align:left;}

.an_zhuxingtu_down2{ width:100%;padding-top:10px;}
.an_bingtu_left{float:left;width:628px;height:279px;}
.an_bingtu_right{float:right;width:280px;height:279px;}
.an_bingtu_right ul{margin:47px 0px 0px 5px;}
.an_bingtu_right ul li{font-size:16px;line-height:30px;height:30px;padding: 0;background: none;}
.an_bingtu_right ul li i{display: block;float:left;width: 32px;height: 14px;margin: 8px 8px 0 0;background:#5b99d4;}
.an_bingtu_right ul li.an_color2 i{background-color:#ea7c31;}
.an_bingtu_right ul li.an_color3 i{background-color:#a3a3a3;}
.an_bingtu_right ul li.an_color4 i{background-color:#fabd00;}
@media (min-width:768px) and (max-width:991px) {
    .analyze{margin:0 10px;padding-bottom:20px;}
    .analyze_top{height:94px;margin-top:20px;}
    .analyze_top_left{float:none;}
    .analyze_top_left .ipt .analyze_inp{width:125px;}
    .analyze_top_right{float:none;width:auto;margin-top:5px;}
    .an_zhuxingtu{height:auto;margin-top:0px;}
    .an_zhuxingtu_up{height:320px;}

    .an_zhuxingtu_down1 ul{padding:0 0 0 10px;}
    .an_zhuxingtu_down1 ul li{width:73px;}

    .an_bingtu_left{width:480px;height:240px;}
    .an_bingtu_right{width:200px;height:240px;}
}
@media (max-width:767px) {
    .analyze{margin:0 0px;padding-bottom:0px;}
    .analyze_top{height:auto;margin-top:0px;}
    .analyze_top_left{float: none;height:auto;}
    .analyze_top_left .tit{float:none;text-align:center;height:30px;line-height:30px;}
    .analyze_top_left .ipt{float:none;width:236px;margin:auto;height:42px;}
    .analyze_top_left .analyze_search{display:block;float:none;width:80px;margin:0px auto 0;}
    .analyze_top_right{float:none;width:auto;margin-top:10px;}
    .analyze_top_right span{margin-left:15px;}
    .an_zhuxingtu{margin-top:0px;height:auto;}
    .an_zhuxingtu_up{height:280px;}
    .an_zhuxingtu_down1{display:none;}

    .an_bingtu_left{float:none;width:auto;height:160px;}
    .an_bingtu_right{float:none;width:auto;height:auto;}
    .an_bingtu_right ul{margin:10px 0px 0px 5px;}
    .an_bingtu_right ul li{float:left;width:44%;margin:0 0.5%;font-size: 14px;}
}
@media (max-width:479px) {
    .analyze_top_right{height:auto;line-height:30px;background-size: auto 100%;padding: 0 20px;}
    .analyze_top_right span{float:none;height:30px;line-height:30px;margin: 0;}
    .an_bingtu_right ul li{float:left;width:80%;margin:0 5% 0 15%;}
}
/***受理统计 end***/